<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,964},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>3bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,961},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>4G3.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,990},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{26,24}}</string>
                <key>sourceSize</key>
                <string>{32,26}</string>
            </dict>
            <key>banker_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,964},{42,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,54}}</string>
                <key>sourceSize</key>
                <string>{42,54}</string>
            </dict>
            <key>bg_phone_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,673},{144,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,42}}</string>
                <key>sourceSize</key>
                <string>{144,42}</string>
            </dict>
            <key>bg_renwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{559,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{559,35}}</string>
                <key>sourceSize</key>
                <string>{559,35}</string>
            </dict>
            <key>boom.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,560},{113,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,111}}</string>
                <key>sourceSize</key>
                <string>{113,111}</string>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,726},{108,36}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{108,36}}</string>
                <key>sourceSize</key>
                <string>{112,38}</string>
            </dict>
            <key>btn_changetable.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,625},{230,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,80}}</string>
                <key>sourceSize</key>
                <string>{230,80}</string>
            </dict>
            <key>btn_changetable_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,543},{230,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,80}}</string>
                <key>sourceSize</key>
                <string>{230,80}</string>
            </dict>
            <key>btn_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,914},{104,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,48}}</string>
                <key>sourceSize</key>
                <string>{104,48}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,297},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>btn_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,461},{230,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,80}}</string>
                <key>sourceSize</key>
                <string>{230,80}</string>
            </dict>
            <key>btn_hint.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,424},{170,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,80}}</string>
                <key>sourceSize</key>
                <string>{170,80}</string>
            </dict>
            <key>btn_invite.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,379},{230,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,80}}</string>
                <key>sourceSize</key>
                <string>{230,80}</string>
            </dict>
            <key>btn_landlord.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,297},{230,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,80}}</string>
                <key>sourceSize</key>
                <string>{230,80}</string>
            </dict>
            <key>btn_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,580},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>btn_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,874},{104,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,48}}</string>
                <key>sourceSize</key>
                <string>{104,48}</string>
            </dict>
            <key>btn_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,502},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>btn_no_landlord.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,215},{230,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,80}}</string>
                <key>sourceSize</key>
                <string>{230,80}</string>
            </dict>
            <key>btn_no_rob.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,867},{230,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,80}}</string>
                <key>sourceSize</key>
                <string>{230,80}</string>
            </dict>
            <key>btn_no_trust.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,707},{224,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,72}}</string>
                <key>sourceSize</key>
                <string>{224,72}</string>
            </dict>
            <key>btn_outcards.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,342},{170,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,80}}</string>
                <key>sourceSize</key>
                <string>{170,80}</string>
            </dict>
            <key>btn_outcards1.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,877},{170,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,80}}</string>
                <key>sourceSize</key>
                <string>{170,80}</string>
            </dict>
            <key>btn_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,260},{170,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,80}}</string>
                <key>sourceSize</key>
                <string>{170,80}</string>
            </dict>
            <key>btn_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,785},{230,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,80}}</string>
                <key>sourceSize</key>
                <string>{230,80}</string>
            </dict>
            <key>btn_ready1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,703},{230,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,80}}</string>
                <key>sourceSize</key>
                <string>{230,80}</string>
            </dict>
            <key>btn_rob.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,621},{230,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,80}}</string>
                <key>sourceSize</key>
                <string>{230,80}</string>
            </dict>
            <key>btn_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,924},{104,38}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{104,38}}</string>
                <key>sourceSize</key>
                <string>{112,38}</string>
            </dict>
            <key>btn_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,874},{112,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,38}}</string>
                <key>sourceSize</key>
                <string>{112,38}</string>
            </dict>
            <key>btn_show_grade.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,506},{146,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{146,48}}</string>
                <key>sourceSize</key>
                <string>{148,48}</string>
            </dict>
            <key>btn_show_grade_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,297},{36,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,80}}</string>
                <key>sourceSize</key>
                <string>{36,80}</string>
            </dict>
            <key>btn_show_grade_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,539},{230,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,80}}</string>
                <key>sourceSize</key>
                <string>{230,80}</string>
            </dict>
            <key>cards_count.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,964},{32,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,46}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>clock_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,761},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>find_again.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{230,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,80}}</string>
                <key>sourceSize</key>
                <string>{230,80}</string>
            </dict>
            <key>find_again_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{230,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,80}}</string>
                <key>sourceSize</key>
                <string>{230,80}</string>
            </dict>
            <key>finish_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,379},{54,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,43}}</string>
                <key>sourceSize</key>
                <string>{54,43}</string>
            </dict>
            <key>head_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,556},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>hint_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,845},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>hint_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{756,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{756,86}}</string>
                <key>sourceSize</key>
                <string>{756,86}</string>
            </dict>
            <key>img_bean_da.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,829},{230,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,46}}</string>
                <key>sourceSize</key>
                <string>{230,46}</string>
            </dict>
            <key>img_bean_xiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,959},{150,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,36}}</string>
                <key>sourceSize</key>
                <string>{150,36}</string>
            </dict>
            <key>img_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,424},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>img_farmer.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,877},{76,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,70}}</string>
                <key>sourceSize</key>
                <string>{76,70}</string>
            </dict>
            <key>img_gold_da.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,781},{230,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,46}}</string>
                <key>sourceSize</key>
                <string>{230,46}</string>
            </dict>
            <key>img_gold_xiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,841},{128,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,31}}</string>
                <key>sourceSize</key>
                <string>{128,31}</string>
            </dict>
            <key>img_landlord.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,660},{70,64}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{70,64}}</string>
                <key>sourceSize</key>
                <string>{76,70}</string>
            </dict>
            <key>img_score_da.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,949},{230,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,46}}</string>
                <key>sourceSize</key>
                <string>{230,46}</string>
            </dict>
            <key>img_score_xiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,808},{128,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,31}}</string>
                <key>sourceSize</key>
                <string>{128,31}</string>
            </dict>
            <key>landlord.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,764},{124,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,42}}</string>
                <key>sourceSize</key>
                <string>{124,42}</string>
            </dict>
            <key>landlord_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,704},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,295},{246,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,0},{246,78}}</string>
                <key>sourceSize</key>
                <string>{420,78}</string>
            </dict>
            <key>mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{758,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{758,86}}</string>
                <key>sourceSize</key>
                <string>{758,86}</string>
            </dict>
            <key>mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,949},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>no_landlord.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,964},{80,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{80,40}}</string>
                <key>sourceSize</key>
                <string>{124,42}</string>
            </dict>
            <key>no_rob.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,772},{82,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{82,40}}</string>
                <key>sourceSize</key>
                <string>{124,42}</string>
            </dict>
            <key>pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,814},{80,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{80,42}}</string>
                <key>sourceSize</key>
                <string>{124,42}</string>
            </dict>
            <key>pay.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,909},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,660},{82,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{82,42}}</string>
                <key>sourceSize</key>
                <string>{124,42}</string>
            </dict>
            <key>rob.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,717},{124,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,42}}</string>
                <key>sourceSize</key>
                <string>{124,42}</string>
            </dict>
            <key>surrender.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,178},{170,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,80}}</string>
                <key>sourceSize</key>
                <string>{170,80}</string>
            </dict>
            <key>top_bar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{354,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,78}}</string>
                <key>sourceSize</key>
                <string>{354,78}</string>
            </dict>
            <key>trust_mask_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,379},{50,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,179}}</string>
                <key>sourceSize</key>
                <string>{50,179}</string>
            </dict>
            <key>vip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,997},{37,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,22}}</string>
                <key>sourceSize</key>
                <string>{37,22}</string>
            </dict>
            <key>vip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,997},{37,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,22}}</string>
                <key>sourceSize</key>
                <string>{37,22}</string>
            </dict>
            <key>vip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,355},{37,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,22}}</string>
                <key>sourceSize</key>
                <string>{37,22}</string>
            </dict>
            <key>vip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,997},{37,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,22}}</string>
                <key>sourceSize</key>
                <string>{37,22}</string>
            </dict>
            <key>wifi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,964},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureResources.png</string>
            <key>size</key>
            <string>{768,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7535e70da3516ab74765cc0d0576d9f$</string>
            <key>textureFileName</key>
            <string>TextureResources.png</string>
        </dict>
    </dict>
</plist>
